<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include "head.html" %}

<body>
{% include "header.html" %}
  <!-- Hero Section-->
    <section style="background: url({% static 'img/thunderbolt-1905603_1280.png' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div >
            <h1 style=" font-family: 'Bungee Inline', cursive; text-shadow: 0 0 15px #FF0000, 0 0 20px #0000FF; font-size: 500%;">SYSTEM W KRYZYSIE</h1>
          </div>
        </div>
        {% if scroll %}
            <a href=".news" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i>Najnowsze posty</a>
        {% endif %}
        {% if newest %}
            <a href="{% url 'posts-list' %}" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i>Wszystkie posty</a>
        {% endif %}
      </div>
    </section>
{% block content %}
<p>cos tu ma byc</p>
{% endblock %}

{% include "footer.html" %}

{% include "scripts.html" %}

</body>

</html>