{% block content %}

   <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
          <div class="container">
            <div class="post-single" id="post-beginning">
              {% comment %}
              <div class="post-thumbnail"><img src="{% static 'img/x' %}" alt="..." class="img-fluid"></div>
              <!-- obrazek pasuje czy nie??  -->
              {% endcomment %}
              <div class="post-details" >
                <div class="post-meta d-flex justify-content-between">

                  <div class="category" >
                    {% for cat in post.categories.all %}
                    <a>{{ cat.title }}</a>
                    {% endfor %}
                  </div>
                   {% if request.user.is_staff %}
                  <div>
                    <a href="{% url 'post-update' id=post.id %}">Update</a>
                    <a href="#">Delete</a>
                    <!-- {% url 'post-delete' id=post.id %} -->
                  </div>
                  {% endif %}

                   </div>
                <h1>{{post.title}}<a href="#" ><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{post.author.username}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">
                    <div class="date"><i class="icon-clock"></i>{{ post.timestamp | timesince }} ago</div>
                    <div class="views"><i class="icon-eye"></i>{{ post.view_count }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                  </div>
                </div>
                <div class="post-body">
                  <p>{{ post.content |safe }}</p>
                  <!-- moze tu jakis obrazek albo chociaz pasek??
                  <img src="{% static 'img/flag-7.jpg' %}" alt="..." class="img-fluid"> -->
                </div>
                <!-- buttony facebook twitter linkedin   -->
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fsystemwkryzysie.blox.pl&layout=button_count&size=small&width=68&height=20&appId" width="68" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                <a href="https://twitter.com/intent/tweet?button_hashtag=system&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #systemwkryzysie</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



<!-- Formularz Oceny -->
                <form action="#" method="post" id="vote">
                  {% csrf_token %}
                  {{ vote_form.as_table }}
                  <input class="btn btn-outline-primary my-2 my-sm-2" type="submit" value="Oceń">
                </form>

<!-- KOMENTARZE -->
                <div class="post-comments">
                  <header>
                    <h3 class="h6" id="cmt">KOMENTARZE<span class="no-of-comments">({{post.comment_count}})</span></h3>
                  </header>
                  {% for comment in post.comments.all %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">

                        <div class="image">
                          {% if comment.user.author %}
                          <img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid rounded-circle">
                          {% else %}
                          <img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle">
                          {% endif %}
                        </div>

                        <div class="title"><strong>{{comment.user.username}}</strong><span class="date">{{comment.timestamp | timesince}} ago</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{comment.content}}</p>
                    </div>
                  </div>
                  {% endfor %}

                </div>


                {% if request.user.is_authenticated %}
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="#" method="post" class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12">
                        {{ form }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary" >Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </main>
      {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>

{% endblock %}