{% block content %}

<!-- KOMENTARZE -->
                <div class="post-comments">
                  <header>
                    <h3 class="h6" id="cmt">KOMENTARZE<span class="no-of-comments">({{post.comment_count}})</span></h3>
                  </header>
                  {% for comment in post.comments.all %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">

                        <div class="image">
                          {% if comment.user.author %}
                          <img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid rounded-circle">
                          {% else %}
                          <img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle">
                          {% endif %}
                        </div>

                        <div class="title"><strong>{{comment.user.username}}</strong><span class="date">{{comment.timestamp | timesince}} ago</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{comment.content}}</p>
                    </div>
                  </div>
                  {% endfor %}

                </div>


                {% if request.user.is_authenticated %}
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="#" method="post" class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12">
                        {{ form }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary" >Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </main>
      {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>

{% endblock %}